@charset "UTF-8";
@font-face {
  font-family: FreeSans;
  src: url("../fonts/FreeSans/FreeSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: FreeSans;
  src: url("../fonts/FreeSans/FreeSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Cabin;
  src: url("../fonts/Cabin/Cabin-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0px; }

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; }

:-webkit-full-screen {
  width: 100%;
  height: 100%; }

body {
  font-family: FreeSans, Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  background: white;
  cursor: default; }

a {
  text-decoration: none;
  color: #2c6a94;
  outline: none; }

p {
  margin-bottom: 5px; }

h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 4px;
  font-family: Cabin, sans-serif; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 17px; }

strong {
  font-weight: bold; }

iframe {
  border: 0px;
  width: 100%;
  height: 100%; }

hr {
  height: 0px;
  border: 0px;
  border-top: 1px solid black;
  margin: 1px; }

li {
  margin-left: 20px; }

input[type=button], input[type=submit], input[type=radio], input[type=checkbox], label {
  cursor: pointer; }

input[type=button], input[type=submit], input[type=text], option, textarea {
  padding: 5px;
  margin: 3px;
  font-size: inherit;
  font-family: inherit;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text; }

textarea {
  width: 300px;
  height: 100px; }

input[type=text], textarea {
  border: 1px solid gray; }

.clear {
  clear: both; }

/* HEADER */
#header {
  position: absolute;
  width: 160px;
  top: 10px;
  bottom: 5px;
  left: 10px; }
  #header .logo {
    width: 150px;
    margin: 5px;
    margin-bottom: 15px; }
  #header #profile {
    display: none;
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 7px;
    height: 57px;
    font-size: 11px; }
    #header #profile img {
      float: left;
      width: 50px;
      height: 50px;
      border: 1px solid #444444;
      margin-right: 7px; }
    #header #profile h3 {
      overflow: hidden;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 14px; }
    #header #profile a {
      position: absolute;
      right: 5px;
      bottom: 4px;
      cursor: pointer;
      font-size: 10px; }
    #header #profile.male {
      background: #f8ffeb; }
    #header #profile.female {
      background: #f8ebff; }
    #header #profile.no {
      background: #eeeeee; }
  #header #menu {
    margin-bottom: 50px; }
    #header #menu a, #header #menu div {
      display: block;
      color: #333333;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid #c2d3d7;
      padding: 3px 5px;
      margin-bottom: 3px;
      background-repeat: no-repeat;
      background-color: #e1e9eb; }
      #header #menu a:hover, #header #menu div:hover {
        background-color: #eeedc4;
        border: 1px solid #e3e19c; }
      #header #menu a.fullscreen, #header #menu div.fullscreen {
        background-image: url("../img/design/icons/fullscreen.png");
        background-position: 6px 6px;
        padding-left: 36px; }
      #header #menu a.big, #header #menu div.big {
        float: left;
        margin-right: 3px;
        width: 36px;
        height: 36px;
        padding: 0px;
        background-position: center center; }
        #header #menu a.big:last-of-type, #header #menu div.big:last-of-type {
          margin-right: 0px;
          width: 35px; }
        #header #menu a.big.zoomout, #header #menu div.big.zoomout {
          background-image: url("../img/design/icons/zoom-out.png"); }
        #header #menu a.big.zoomorig, #header #menu div.big.zoomorig {
          background-image: url("../img/design/icons/zoom-original.png"); }
        #header #menu a.big.zoomin, #header #menu div.big.zoomin {
          background-image: url("../img/design/icons/zoom-in.png"); }
        #header #menu a.big.volume.v0, #header #menu div.big.volume.v0 {
          background-image: url("../img/design/icons/volume0.png"); }
        #header #menu a.big.volume.v1, #header #menu div.big.volume.v1 {
          background-image: url("../img/design/icons/volume1.png"); }
        #header #menu a.big.volume.v2, #header #menu div.big.volume.v2 {
          background-image: url("../img/design/icons/volume2.png"); }
        #header #menu a.big.volume.v3, #header #menu div.big.volume.v3 {
          background-image: url("../img/design/icons/volume3.png"); }
        #header #menu a.big.language.en, #header #menu div.big.language.en {
          background-image: url("../img/design/flags/si.png"); }
        #header #menu a.big.language.si, #header #menu div.big.language.si {
          background-image: url("../img/design/flags/en.png"); }
  #header #facebookIframe {
    border: none;
    overflow: hidden;
    height: 80px; }

/* CONTENT */
#content {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 180px; }

#tabs {
  margin-left: 20px;
  font-family: "Cabin", sans-serif;
  font-size: 15px; }
  #tabs a {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
    border: 1px solid #333333;
    border-radius: 2px;
    background: #488daa;
    display: none;
    float: left;
    height: 24px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding: 6px 15px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-left: 3px;
    opacity: 0.9; }
    #tabs a.game {
      background: #ae3737; }
    #tabs a.active, #tabs a:hover {
      opacity: 1;
      text-decoration: underline;
      font-weight: bold; }

#login {
  padding-left: 20px;
  padding-top: 10px;
  text-align: center; }
  #login .panel {
    margin-top: 20px;
    height: 60%;
    max-height: 357px;
    max-width: 588px; }
  #login .options {
    height: 40%; }
    #login .options > div {
      text-align: left;
      vertical-align: top;
      display: inline-block;
      width: 250px;
      margin: 30px 30px; }
      #login .options > div input[type=text] {
        width: 120px; }
      #login .options > div .facebookButton {
        display: inline-block;
        color: white;
        border: 1px solid #29447e;
        border-bottom-color: #1a356e;
        font-weight: bold;
        background: url("../img/design/fb.png") no-repeat;
        font-size: 20px;
        height: 29px;
        width: 110px;
        margin-top: 5px;
        padding-left: 54px;
        padding-top: 6px; }
        #login .options > div .facebookButton:hover {
          opacity: 0.82; }

/* CONTENT > LOBBY > GAMES */
#games {
  padding-top: 10px;
  padding-left: 5px; }
  #games .game {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin-left: 8px;
    margin-bottom: 10px;
    color: white;
    font-size: 11px;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
    border: 1px solid #333333;
    border-radius: 2px;
    background: #ae3737;
    border-radius: 3px; }
    #games .game h3 {
      text-align: center;
      font-size: 14px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.2);
      margin: 0px;
      padding: 6px; }
    #games .game p {
      text-align: center;
      margin: 5px 7px;
      line-height: 14px; }
      #games .game p span {
        white-space: nowrap; }
    #games .game .players {
      background: rgba(255, 255, 255, 0.2);
      padding: 3px;
      padding-bottom: 4px; }
      #games .game .players .player, #games .game .players .join {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        white-space: nowrap;
        width: 73px;
        height: 30px;
        padding: 1px 4px;
        margin: 2px;
        box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
        border: 1px solid #333333;
        border-radius: 2px;
        background: #dd9922; }
        #games .game .players .player.join, #games .game .players .join.join {
          cursor: pointer;
          text-align: center;
          font-size: 21px;
          padding-top: 3px;
          height: 28px;
          background: #a562d8; }
        #games .game .players .player.me, #games .game .players .join.me {
          background: #ae3737; }
        #games .game .players .player span:first-of-type, #games .game .players .join span:first-of-type {
          display: block;
          overflow: hidden;
          margin-bottom: 1px; }
        #games .game .players .player .leave, #games .game .players .join .leave {
          float: right;
          font-size: 16px;
          width: 10px;
          height: 10px;
          margin-top: -3px;
          margin-right: -1px;
          color: black;
          cursor: pointer; }
    #games .game .actions {
      margin: 6px;
      margin-top: 4px; }
      #games .game .actions div {
        cursor: pointer;
        display: inline-block;
        margin-left: 10px; }

/* CONTENT > GAME */
#pages {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 30px; }
  #pages > div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url("../img/design/wood.jpg");
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
    border: 1px solid #333333;
    border-radius: 2px;
    display: none;
    border-radius: 5px; }
    #pages > div .right {
      overflow: auto;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      left: auto;
      width: 170px;
      padding: 10px;
      color: black;
      color: #444444; }
      #pages > div .right h2 {
        color: black; }
      #pages > div .right > div {
        background: rgba(255, 255, 255, 0.4);
        padding: 5px;
        margin-bottom: 3px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1); }
    #pages > div .left {
      overflow: auto;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      right: 190px; }
    #pages > div .window {
      background: url("../img/design/wood.jpg");
      box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
      border: 1px solid #333333;
      border-radius: 2px;
      position: absolute;
      top: 25%;
      left: 30%;
      display: inline-block;
      text-align: left;
      min-height: 70px;
      min-width: 250px;
      z-index: 2000;
      padding: 10px 15px;
      opacity: 0.9; }
      #pages > div .window .close {
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 0px 8px;
        font-size: 24px;
        font-weight: bold;
        opacity: 0.7;
        cursor: pointer; }
        #pages > div .window .close:hover {
          opacity: 1;
          color: #bb0f2f; }

#pages #create {
  padding-bottom: 0px; }
  #pages #create > div {
    margin-top: 8px; }
    #pages #create > div .rounds.slider, #pages #create > div .rating.slider, #pages #create > div .tempo.slider {
      margin: 4px;
      margin-top: 10px; }
    #pages #create > div .rounds.amount, #pages #create > div .rating.amount, #pages #create > div .tempo.amount {
      color: #0f6bca; }
    #pages #create > div input[type=text] {
      box-sizing: border-box;
      width: 100%;
      font-size: 12px;
      padding: 2px;
      margin: 0px;
      margin-top: 5px;
      background: rgba(255, 255, 255, 0.4);
      border: 0px;
      outline: none; }
      #pages #create > div input[type=text]:hover, #pages #create > div input[type=text]:focus {
        background: rgba(255, 255, 255, 0.7); }
    #pages #create > div strong {
      display: block; }
    #pages #create > div label {
      display: block;
      margin-left: 10px; }
    #pages #create > div p {
      padding-top: 5px;
      padding-left: 3px;
      font-size: 11px;
      font-style: italic; }
  #pages #create input[type=submit] {
    width: 100%; }

#pages .game .right {
  overflow: hidden;
  width: 220px;
  padding-top: 12px; }
  #pages .game .right .gameInfo {
    position: relative;
    height: 32px; }
    #pages .game .right .gameInfo .type, #pages .game .right .gameInfo .suit {
      display: inline-block;
      vertical-align: top; }
    #pages .game .right .gameInfo .type {
      width: 160px; }
    #pages .game .right .gameInfo .suit {
      font-size: 50px;
      line-height: 35px;
      margin-left: 7px;
      margin-top: -5px;
      color: black; }
      #pages .game .right .gameInfo .suit.d, #pages .game .right .gameInfo .suit.h {
        color: #ce3d44; }
    #pages .game .right .gameInfo .options {
      position: absolute;
      padding: 0px 5px;
      right: 45px;
      top: 20px;
      cursor: pointer;
      font-size: 17px; }
      #pages .game .right .gameInfo .options:hover {
        color: #bb0f2f; }
        #pages .game .right .gameInfo .options:hover .menu, #pages .game .right .gameInfo .options:hover .menu:hover {
          display: block; }
      #pages .game .right .gameInfo .options .menu {
        background: url("../img/design/wood.jpg");
        box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
        border: 1px solid #333333;
        border-radius: 2px;
        border: 0px;
        position: absolute;
        display: none;
        top: 20px;
        right: 0px;
        width: 130px;
        padding: 10px;
        color: black;
        font-size: 12px; }
        #pages .game .right .gameInfo .options .menu a {
          display: block;
          padding: 2px;
          margin-bottom: 2px; }
          #pages .game .right .gameInfo .options .menu a:hover {
            color: #bb0f2f; }
  #pages .game .right .timer div {
    font-size: 12px;
    height: 27px;
    display: inline-block;
    vertical-align: top; }
    #pages .game .right .timer div.time {
      float: right;
      font-size: 30px;
      line-height: 27px;
      margin-right: 4px; }
  #pages .game .right.onMove .timer .time {
    color: #bb0f2f; }
  #pages .game .right .results {
    display: none; }
    #pages .game .right .results .history > div > div, #pages .game .right .results .names > div, #pages .game .right .results .radli > div, #pages .game .right .results .sum > div {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: 45px;
      margin-right: 4px;
      text-align: center; }
    #pages .game .right .results .names, #pages .game .right .results .sum {
      font-size: 11px;
      font-weight: bold; }
    #pages .game .right .results .names, #pages .game .right .results .radli, #pages .game .right .results .sum {
      overflow: hidden;
      height: 14px; }
    #pages .game .right .results .history {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin: 2px 0px;
      padding-bottom: 3px;
      font-size: 11px;
      height: 67px;
      overflow-y: auto;
      overflow-x: hidden;
      white-space: nowrap; }
      #pages .game .right .results .history > .bold {
        font-weight: bold; }
      #pages .game .right .results .history > div:hover {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer; }
      #pages .game .right .results .history > div > div {
        margin-right: 7px; }
  #pages .game .right .chat {
    font-size: 11px;
    width: 208px;
    position: absolute;
    z-index: 1100;
    background-image: url("../img/design/bubble.png");
    background-repeat: no-repeat;
    background-position: top right; }
    #pages .game .right .chat h3 {
      text-align: right;
      margin-top: 0px;
      margin-right: 5px; }
    #pages .game .right .chat .history {
      overflow-y: auto;
      height: 200px; }
      #pages .game .right .chat .history div {
        margin-bottom: 3px;
        white-space: pre-wrap; }
        #pages .game .right .chat .history div .time {
          color: #888888;
          font-size: 9px;
          display: none;
          margin-left: 8px; }
        #pages .game .right .chat .history div:hover .time {
          display: inline-block; }
    #pages .game .right .chat textarea {
      border: 0px;
      border-top: 1px dotted gray;
      background: transparent;
      outline: 0px;
      height: 30px;
      padding: 4px;
      width: 92%; }
#pages .game .left {
  overflow: hidden;
  right: 240px; }
  #pages .game .left .player {
    display: none;
    width: 100px;
    position: absolute;
    z-index: 20;
    background: rgba(100, 100, 100, 0.3) no-repeat;
    border-radius: 2px;
    border: 1px solid #444444;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
    #pages .game .left .player.onMove {
      border-color: #bb0f2f; }
    #pages .game .left .player .picture {
      display: inline-block;
      vertical-align: top;
      width: 90px;
      height: 90px;
      padding: 5px; }
      #pages .game .left .player .picture:hover div {
        display: none; }
      #pages .game .left .player .picture div {
        font-size: 12px;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        border-radius: 4px;
        padding: 2px 5px;
        display: inline-block;
        margin-bottom: 4px;
        margin-right: 10px; }
    #pages .game .left .player .openCards {
      display: inline-block;
      vertical-align: top;
      padding: 5px 0px 0px 5px;
      font-size: 0px; }
      #pages .game .left .player .openCards:empty {
        display: none; }
      #pages .game .left .player .openCards div {
        position: relative;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        width: 40px;
        height: 40px;
        margin: 0px 5px 5px 0px;
        background: white;
        border: 1px solid #444444;
        border-radius: 5px;
        font-family: Cabin; }
        #pages .game .left .player .openCards div span {
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          margin-top: 5px;
          color: black;
          font-size: 22px;
          text-align: center; }
        #pages .game .left .player .openCards div:before {
          position: absolute;
          bottom: -12px;
          right: -8px;
          font-size: 35px; }
        #pages .game .left .player .openCards div.typeC:before {
          content: "♣"; }
        #pages .game .left .player .openCards div.typeD:before {
          color: #bb0f2f;
          content: "♦"; }
        #pages .game .left .player .openCards div.typeH:before {
          color: #bb0f2f;
          content: "♥"; }
        #pages .game .left .player .openCards div.typeS:before {
          content: "♠"; }
    #pages .game .left .player.p1 {
      right: 10px; }
    #pages .game .left .player.p2 {
      top: 10px;
      width: auto; }
      #pages .game .left .player.p2 .openCards {
        width: 284px; }
    #pages .game .left .player.p3 {
      left: 10px; }
  #pages .game .left .stack, #pages .game .left .lifted {
    position: absolute;
    z-index: 10;
    width: 150px;
    height: 0px;
    text-align: center; }
    #pages .game .left .stack.beggar, #pages .game .left .lifted.beggar {
      width: 80px;
      margin-top: -50px; }
      #pages .game .left .stack.beggar .card, #pages .game .left .lifted.beggar .card {
        position: relative;
        margin-bottom: -110px;
        width: 60px;
        padding: 4px; }
    #pages .game .left .stack.\34, #pages .game .left .lifted.\34 {
      margin-top: -70px;
      padding-left: 20px; }
  #pages .game .left .window.bid .choice, #pages .game .left .window.bid .bids {
    width: 340px;
    height: 110px; }
    #pages .game .left .window.bid .choice div, #pages .game .left .window.bid .bids div {
      float: left;
      width: 38px;
      height: 33px;
      margin: 5px;
      padding: 1px 3px;
      font-size: 11px;
      text-align: center;
      overflow: hidden;
      color: #333333;
      border: 1px solid #666666; }
  #pages .game .left .window.bid .choice div {
    cursor: pointer; }
    #pages .game .left .window.bid .choice div:hover {
      border-color: #bb0f2f; }
  #pages .game .left .window.bid .bids div {
    overflow-y: auto;
    width: 65px;
    height: 88px; }
    #pages .game .left .window.bid .bids div p {
      border-bottom: 1px dotted #666666;
      margin: 0px;
      padding: 1px; }
      #pages .game .left .window.bid .bids div p:first-of-type {
        font-weight: bold; }
  #pages .game .left .window.call .card {
    cursor: pointer;
    display: inline-block;
    margin: 10px 7px 3px 7px; }
  #pages .game .left .window.talon div {
    cursor: pointer;
    display: inline-block;
    margin: 10px 7px 3px 7px;
    padding-left: 50px; }
    #pages .game .left .window.talon div .card {
      margin-left: -50px; }
  #pages .game .left .window.announce .header div {
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px; }
  #pages .game .left .window.announce .data div:not(.header) div {
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
    border: 1px solid #333333;
    border-radius: 2px;
    background: #7ab64a;
    border-radius: 5px;
    height: 15px; }
    #pages .game .left .window.announce .data div:not(.header) div:first-of-type {
      background: #dd9922; }
    #pages .game .left .window.announce .data div:not(.header) div.option {
      background: #ae3737; }
  #pages .game .left .window.announce .data div div {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    padding: 5px 5px 5px 10px;
    margin: 1px; }
  #pages .game .left .window.announce input[type=submit] {
    visibility: hidden; }
  #pages .game .left .window.announce .upgrade {
    margin-top: 15px; }
  #pages .game .left .window.scores h3 {
    margin-top: 7px;
    text-align: center; }
  #pages .game .left .window.scores .data div {
    display: inline-block;
    vertical-align: top;
    min-height: 120px;
    margin: 0px 8px;
    margin-bottom: 10px; }
    #pages .game .left .window.scores .data div li {
      margin-left: 0px;
      margin-bottom: 2px;
      padding-right: 12px;
      color: #222222; }
      #pages .game .left .window.scores .data div li strong {
        display: inline-block;
        width: 25px;
        text-align: right;
        margin-right: 12px;
        color: black; }
      #pages .game .left .window.scores .data div li.sum {
        font-style: italic;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        margin-top: 4px;
        padding-top: 4px; }
  #pages .game .left .window.ended .place {
    font-size: 30px; }
#pages .game .cards {
  position: absolute;
  z-index: 1000;
  right: -500px;
  left: 0px;
  bottom: 0px; }

/* CARDS */
.cards img, .card {
  width: 80px;
  display: inline-block;
  background: white;
  padding: 7px;
  border: 1px solid #888888;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #999999; }
  .cards img.disabled, .card.disabled {
    background-color: #e3c1a1;
    -webkit-filter: sepia(1) saturate(1.5); }

.cards {
  height: 180px;
  overflow: hidden;
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 0px; }
  .cards img {
    float: left;
    vertical-align: top;
    margin-left: -40px;
    margin-top: 40px;
    cursor: pointer;
    transition: margin .3s, width .3s;
    -webkit-transition: margin .3s, width .3s;
    -moz-transition: margin .3s, width .3s;
    -o-transition: margin .3s, width .3s;
    -ms-transition: margin .3s, width .3s; }
    .cards img:hover {
      border: 1px solid #941e16;
      margin-right: 30px;
      margin-top: 10px;
      width: 110px;
      transition: margin .2s, width .2s;
      -webkit-transition: margin .2s, width .2s;
      -moz-transition: margin .2s, width .2s;
      -o-transition: margin .2s, width .2s;
      -ms-transition: margin .2s, width .2s; }

/* TEMPLATES */
#templates {
  display: none; }

/* EXTEND */
#extend {
  position: absolute;
  top: 50%;
  left: -11px;
  z-index: 100000;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 11px solid #111111; }
  #extend:hover {
    border-right-color: #c21333;
    cursor: pointer; }
  #extend.on {
    left: 0px;
    border-right: 0px;
    border-left: 11px solid #111111; }
    #extend.on:hover {
      border-left-color: #c21333; }

/* jQuery UI */
.ui-draggable-dragging {
  cursor: move; }

.ui-corner-all {
  border-radius: 2px; }

.ui-slider {
  position: relative;
  height: 5px;
  border: 1px solid #888888;
  background: white; }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    margin-left: -6px;
    margin-top: -3px;
    width: 9px;
    height: 9px;
    border: 1px solid #314d65;
    background: #5382a9; }
