<div class="row">
  	<div class="container top-menu">
    <div class="span4 span-short">
      <h3>mobilna <strong>aplikacija</strong></h3>
      <p>Uporabljaj jo vsak dan.</p>
    </div>
    <div class="span8 span-short">
      <h3><strong>prenesi</strong> aplikacijo</h3>
      <p>Na voljo za iOS in Android.</p>
    </div>
    </div>
</div>
<div class="row">
  	<div class="container top-menu">
    <div class="span4 span-long">
	    <p></p>
      <p>Prevozi predstavljajo 34% ogljičnega odtisa povprečnega zemljana v razvitem svetu. Zato smo razvili aplikacijo, ki bo pomagala ozaveščati lasten ogljični odtis, ki ga ustvarimo z različnimi aktivnostmi premikov.</p>
      <p>Aplikacija beleži prihranke pri izpustu CO<sub>2</sub> glede na vožnjo z avtomobilom. <strong>Več kot uporabljate alternativnih prevoznih sredstev, večji bodo vaši prihranki!</strong></p>
    </div>
    <div class="span8 span-long">
		<div class="row">
			<div class="span4">
				<p class="text-center">
				<br />
				 <img src="img/app-and.png" /><br /><br />
				 <a href="" class="btn btn-small btn-info">prenesi za Android</a>
				 </p>
			</div>
			<div class="span4">
				<p class="text-center">
				<br />
				 <img src="img/app-ios.png" /><br /><br />
				 <a href="" class="btn btn-small btn-info">prenesi za iOS</a>
				 </p>
			</div>
		</div>
    </div>
    </div>
</div>