<div class="row">
  	<div class="container top-menu">
    <div class="span12 span-short">
      <h3><strong>ogljični</strong> odtis</h3>
      <p>Kaj je ogljični odtis / carbon footprint?</p>
    </div>
    </div>
</div>
<div class="row">
  	<div class="container top-menu">
    <div class="span12 span-infinite">
      <h3>Opis</h3>
      <p>Ogljični odtis je izraz za skupek ogljikovega dioksida ter drugih toplogrednih plinov, ki jih v okolje neposredno ali posredno spusti določen objekt, naprava, izdelek, proces ali telo. Ogljični odtis je mogoče izračunati in ovrednotiti. Zaradi poenostavljenega razumevanja so emisije toplogrednih plinov preračunane na ekvivalent ogljikov dioksid, ki je med toplogrednimi plini kot jih določa Kjotski protokol, najbolj prepoznaven.</p>      
      <p>Izračun emisij opravi orodje, ki omogoča izračun količine izpustov toplogrednih plinov pri izvajanju določenih aktivnostih (tako zasebnih kot poslovnih). Izračun ogljičnega odtisa tako pokaže, kako se izbor uporabe različnih energij (tudi tistih, ki poganjajo stroje, ki jih nekdo uporablja pri delu) odraža pri prihrankih energije in zmanjševanja ogljičnega odtisa.</p>
      <p>S personaliziranim izračunom si je na podlagi pridobljenih podatkov mogoče zagotoviti boljšo optimizacijo načina življenja ali poslovanja, izboljšanje proizvodnih procesov in posledično zmanjšati stroške na tem področju. Na voljo so številna računala, ki omogočajo izračun, koliko ogljikovega dioksida in drugih toplogrednih plinov povzročijo določene izbire pri poslovanju ali zasebnem življenju.</p>
       <small class="pull-right">Povzeto po: <cite title="Wikipedia">Wikipedia</cite></small>
       <div class="clearfix"></div>
      <h3>ecoTravel na pomoč</h3>
      <p>Prevozi predstavljajo 34% ogljičnega odtisa povprečnega zemljana v razvitem svetu. Zato smo razvili mobilno aplikacijo in spletni portal, ki bosta pomagala slediti lastnemu ogljičnemu odtisu, ki ga ustvarimo z različnimi aktivnostmi premikov. Aplikacijo lahko uporabljate na vsaki poti - z avtomobilom, vlakom, avtobusom, motornim kolesom, navadnim kolesom ali pa tudi na sprehodu. Beležila bo vašo porabo ogljikovega dioksida glede na izbrano prevozno sredstvo, če pa ima izbrano prevozno sredstvo nižjo proizvodnjo CO<sub>2</sub> od povprečnega vozila, pa bo beležila tudi vaš prihranek.</p>
    </div>
    </div>
</div>